.movie-element {
    margin: 1rem 0;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border-radius: 10px;
    display: flex;
    cursor: pointer;

    &:hover {
        box-shadow: 0 6px 10px rgba(0, 0, 0, 0.26);
    }

    h2,
    h3,
    p {
        font-size: 1.25rem;
        margin: 0;
    }

    h2,
    h3 {
        color: #383838;
        margin-bottom: 1rem;
    }

    p {
        color: white;
        display: inline;
        background: #f67722;
        padding: 0.25rem 1rem;
        border-radius: 15px;
    }

    &__info {
        flex: 2;
        padding: 1rem;
    }
}
